<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Report</title>
</head>

<body>
    <article id="cover">
        <section>
            <h1>WeasyPrint</h1>
            <h2>You Are My Only Hope!</h2>
        </section>
    </article>


    <article id="introduction">
        <h2>What is WeasyPrint?</h2>
        <section id="about">
            <p>
                WeasyPrint has been created and is maintained by Kozea community, a group of people designing,
                maintaining and developing free and open source software.
            </p>

            <p>
                You want to share some kind words with the core team? You would be interested in training courses about
                CSS
                for print? You would love new features but do not have the time or the development resources? Send us a
                message!
            </p>

            <p>
                WeasyPrint is free and open source software that can be easily plugged to your applications and
                websites.
            </p>
        </section>

        <h2>Why I choose WeasyPrint?</h2>
        <section id="features">
            <div class="feature">
                <h4>HTML/CSS Supported</h4>
                <p>Everyone knows enough HTML and CSS to generate simple report, no need to learn a whole new templating
                    language</p>
            </div>
            <div class="feature">
                <h4>Productivity</h4>
                <p>Official samples are gorges and covers most layout use cases which make you more productive!</p>
            </div>
            <div class="feature">
                <h4>One click to debug</h4>
                <p>Weasyprint gives developer control to debug. Render/Debug on Webpage shows you margins and paddings.
                </p>
            </div>
        </section>
        <section id="features">
            <div class="feature">
                <h4>Flexibility</h4>
                <p>WeasyPrint can be used either as a standalone program or as a Python library</p>
            </div>
            <div class="feature">
                <h4>Documentation</h4>
                <p>When learning a new tool, the most challenging thing is hard to find how to use and customize.
                    Weasyprint has very well documents.
                </p>
            </div>
            <div class="feature">
                <h4>Actively Maintained</h4>
                <p>It is actively maintained, WeasyPrint is evolving and you can get helped either from StackOverflow or
                    GitHub issues.</p>
            </div>
        </section>
        <section id="contact">

        </section>
    </article>
</body>

</html>