<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Report</title>
</head>

<body>
    <article id="cover">
        <section>
            <h1>WeasyPrint</h1>
            <h2>You Are My Only Hope!</h2>
        </section>
    </article>


    <article id="introduction">
        <h2>What is WeasyPrint?</h2>
        <!-- <section id="samples">
            <div class="showcase">
                <div class="column">
                    <img src="file:///Users/hzhang/google-drive/my-weasyprint/assets/report.png" alt="" srcset="">
                </div>
                <div class="column left">
                    <h3>Beautiful Report</h3>
                    <p>
                        A small report with a table of contents, customized headers, different page layouts and nice
                        typography features.
                    </p>
                </div>
            </div>
            <div class="showcase">
                <div class="column right">
                    <h3>Invoices</h3>
                    <p>
                        A simple invoice with a delicate layout, tables and a nice footer.
                    </p>
                </div>
                <div class="column">
                    <img src="file:///Users/hzhang/google-drive/my-weasyprint/assets/invoices.png" alt="" srcset="">
                </div>
            </div>
            <div class="showcase">
                <div class="column">
                    <img src="file:///Users/hzhang/google-drive/my-weasyprint/assets/ticket.png" alt="" srcset="">
                </div>
                <div class="column left">
                    <h3>Beautiful Report</h3>
                    <p>
                        A ticket with a barcode, with just 50 lines of HTML and 130 lines of Sass.
                    </p>
                </div>
            </div>
        </section> -->
        <section id="about">
            <p>
                WeasyPrint has been created and is maintained by Kozea community, a group of people designing,
                maintaining and developing free and open source software.
            </p>
        
            <p>
        
                You want to share some kind words with the core team? You would be interested in training courses about
                CSS
                for print? You would love new features but do not have the time or the development resources? Send us a
                message!
            </p>
        </section>
        
        <section id="contact">
        
        </section>
    </article>
</body>

</html>